{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/fonts/line-icons.css' %}">
        <link rel="stylesheet"  type="text/css" href="{% static 'css/carousel/css/owl.carousel.min.css' %}">
        <link rel="stylesheet"  type="text/css" href="{% static 'css/carousel/css/owl.theme.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>{% block title %}{% endblock %}</title>
    </head>
    
    <body>
        
        {% include '_header.html' %}
      
          {% block content %} {% endblock %}
      
         {% include '_footer.html' %}

          <script src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
          <script src="{% static 'css/bootstrap/js/bootstrap.min.js' %}"></script>
          <script  src="{% static 'css/carousel/js/owl.carousel.min.js' %}"></script>
    </body>
</html>